.idea/*
src/__pycache__/
src/cnn/*.pickle
src/cnn/*.pt
src/feature_fusion/__pycache__/__init__.cpython-37.pyc
src/cnn/__pycache__/cnn_test.cpython-37.pyc
src/cnn/__pycache__/cnn_implement.cpython-37.pyc
*/.idea
data/CASIA2
data/NC16